.murano/*
**/*.json
!test/assets/*.json
**/*.cfg
!setup.cfg
.tokens
undo
pyreverse/*
zzz_archive/*
**/*.pyc
build/*
*egg*
build-docker-image.sh
**/*.ini
!tox.ini
.dev-work/*
.tox/*
.pytest_cache/*
dist/*
junit*.xml
output.txt

**.whl
venv-*
.venv
